.counterBoard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 340px;
    height: 130px;
    color: #3aee00;
    font-size: 100px;
    border: 2px solid #3aee00;
    font-weight: bold;
    border-radius: 20px;
}

.text {
    font-size: 22px;
    color: #3aee00;
}

.textError {
    font-size: 22px;
    color: red;
}

.red {
    color: red;
}