.settingsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 130px;
    margin: auto;
    border: 2px solid #3aee00;
    border-radius: 20px;
    color: #3aee00;
}

.defaultInput {
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    outline: none;
    border: 2px solid #3aee00;
}

.errorInput {
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    outline: none;
    border: 2px solid #f81b1b;
    background-color: #e37c8f;
}