.wrapper {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 1024px;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin: 50px auto;
    border: 3px solid #3aee00;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
}

.buttonsBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 340px;
    height: 60px;
    border: 2px solid #3aee00;
    border-radius: 20px;
}

.button {
    margin: 10px;
    width: 80px;
    height: 35px;
    border-radius: 12px;
    background-color: #3aee00;
}

.buttonLarge {
       width: 120px;
}

.button:hover {
    box-shadow: 0 0 15px #3aee00;
    cursor: pointer;
}

.button:disabled {
    box-shadow: none;
    background-color: black;
    color: #3aee00;
    border: 1px solid #3aee00;
}

@media screen and (min-width: 375px) and (max-width: 660px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
}